[Unit]
Description=Run raspi-sentinel checks every 30 seconds

[Timer]
OnBootSec=2min
OnUnitActiveSec=30s
RandomizedDelaySec=5s
Persistent=true
AccuracySec=15s
Unit=raspi-sentinel.service

[Install]
WantedBy=timers.target
